@font-face { font-family: Century; src: url('GOTHIC.ttf');}
    
body
{
font-family: Century;
background: rgb(51,51,51);
color: #fff;
padding:5px;
}
       
.pagina
{
position: absolute;
top:150px;
width:70%;
height:100%;   
}
  
.linha
{
width:auto;
padding:6px;
height:90px;
display:table;
}

.tile{
height:200px;    
width:170px;   
float:left;
margin:0 5px 0 0;
padding:2px;
}
   
.tileLargo
{  
width:220px;
}

.amarelo
{
background:#DAA520;
}
   
.vermelho{
background:#CD0000;   
}
   
.azul
{
background:#4682B4;
}
   
.verde{
background-color: #2E8B57;
}

.tile img
{
width:56px;
margin:20px 22px 0 22px
}
   
.tileLargo img
{
 margin:20px 77px 0 77px
}